spring:
  application:
    name:helpdesk-backend
  datasource:
    url: jdbc:mysql://localhost:3306/Helpdesk?useSSL=false&serverTimezone=UTC
    username: root
    password: Syed@1310
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          time_zone: UTC
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini

    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always

  profiles:
    active: dev
server:
  port: 8081

logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: DEBUG


